.dropdown-menu{
    transform: none !important;
    position: relative !important;
    width: 665% !important;
    left: -565% !important;

}
.input-group{
    padding:0px 20px
}
.dropdown.show{
    width:171.6px;
}
.showDropDown{
    display:block;
}
.btn-primary{
    float:right;
}
.btn-light{
    float:right;
    padding: 0px 10px;
    
}
